@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Ubuntu Mono, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;

    height: 100vh;
    width: 100%;

    background-color: rgba(251, 121, 2, 0.8);
    padding: 40px;

    position: relative;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 650px;
    height: 490px;
    min-width: 400px;
    margin-top: 80px;
    padding: 40px;
    padding-bottom: 20px;

    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

@media (max-width: 576px) {
    .content-wrapper {
        width: 400px;
        height: max-content;
    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 30px;
}

.header .logo {
    display: flex;
}

.header .logo img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.header .logo h2 {
    text-align: right;
    align-self: center;
}

.header h5 {
    font-size: 16px;
    font-weight: 400;

    color: #828282;
    cursor: pointer;
}


@media (max-width: 576px) {
    .header {
        flex-direction: column;
        margin: 0 auto;
    }

    .header h5 {
        text-align: center;
        margin: 20px 0px;
    }
}

.category-selector {
    margin: 15px 0px;
}






.joke {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    height: max-content;
    margin: 0px 20px;
    margin-top: 10px;
}

@media (max-width: 576px) {
    .joke {
        min-height: 150px;
        height: max-content;
    }
}

.joke h4 {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    text-align: center;
    line-height: 1.5rem;

    width: fit-content;
}


.actions {
    display: flex;
    margin: 20px auto;
    margin-bottom: 30px;
}

.actions button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;

    padding: 10px 30px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: transform 0.1s;
}

.actions button:active {
    transform: scale(0.9);
}






.api-link {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: auto;
}

.api-link a {
    font-size: 14px;
    font-weight: 400;
    color: #b7b7b7;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    transition: border-color 350ms;
}

.api-link a:hover {
    border-color: gainsboro;
}







.footer {
    padding-top: 40px;
    border-bottom: 30px;
    margin-top: auto;
}

.footer a {
    font-size: 16px;
    color: white;
    letter-spacing: 0.05em;
}











.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: right;

    width: 100%;
    cursor: pointer;
    position: relative;
}

.select {
    display: flex;
    justify-content: right;
    padding: 10px 15px;
    width: 170px;
    border-radius: 6px;
}


@media (max-width: 576px) {
    .select {
        justify-content: center;
    }
}

.select:hover {
    background-color: #f6f6f6;
}

.caret {
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;

    transition: 0.3s;
}

.caret-rotate:hover {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #f0f0f0;
    border: 0.8px solidrgb(186, 186, 186)4;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;

    color: #959595;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 170px;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu.opened {
    display: block;
    opacity: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: right;
}

@media (max-width: 576px) {
    .menu li {
        text-align: center;
    }
}

.menu li:hover {
    background: #2a2d35;
    color: #EFEFEF;
}

.menu li.active {
    background: #23242a;
    color: #EFEFEF;

}









.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    margin: 180px auto;
    padding: 35px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height: max-content;
    position: relative;
}


@media (max-width: 576px) {
    .popup {
        width: 80%;
    }
}


.popup h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 30px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.popup .close:hover {
    color: rgb(231, 135, 1);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 18px;
    line-height: 1.5rem;
}

.popup .content a {
    color: rgb(243, 142, 0);
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
